@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
  margin: 0px;
  padding: 0px;
  border: 0px solid red;
  box-sizing: border-box;
}

:root{
  --section-head-font: 'Fjalla One', sans-serif;
  --section-para-font: 'Arimo', sans-serif;
  --card-border-radius: 5px;
  --card-padding: 30px;
  --section-head-color: rgb(63, 60, 60);
  --section-para-color: rgb(112, 111, 111);
  --section-btn-padding: 5px 20px;
  --section-btn-color: white;
  --section-btn-bg-color: rgb(5, 196, 196);
  --section-btn-border-radius: 3px;
  --section-head-margin-bottom: 30px;
  --section-border-bottom: 1px solid var(--section-para-color);
}

.card{
  max-width: 30vw;
  min-width: 340px;
  margin: 100px auto;
  font-family: var(--section-para-font);
  border-radius: var(--card-border-radius);
  box-shadow: 5px 5px 10px rgba(128, 128,128, 0.8);
  color: var(--section-para-color);
}

.cardBtn{
  padding: var(--section-btn-padding);
  color: var(--section-btn-color);
  background-color: var(--section-btn-bg-color);
  text-transform: uppercase;
  border: none;
  border-radius: var(--section-btn-border-radius);
  font-weight: bold;
}

.addTaskCont{
  border-bottom: var(--section-border-bottom);
  padding: var(--card-padding);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.taskHead{
  margin-bottom: var(--section-head-margin-bottom);
  color: var(--section-head-color);
  font-family: var(--section-head-font);
  font-weight: 400;
  text-transform: uppercase;
}

.taskInputCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:10px;
}

.taskInputCont input[type="text"]{
  border: none;
  padding: var(--section-btn-padding);
  border-bottom: 1px solid var(--section-para-color);
  align-self: stretch;
}

/* .filterTaskCont{
  border: 1px solid var(--section-head-color);
} */

.filterTaskCont ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}


.filterTaskCont ul li{
  text-align: center;
  flex-grow: 1;
  list-style: none;
  padding: 10px;
}

.filterTaskCont ul li input{
  width: 100%;
  height: 100%;
}

.filterTaskCont ul li input[type="text"]{
  border-bottom: 1px solid var(--section-para-color);
}

.dispTaskCont{
  padding: var(--card-padding);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

.taskListCont{
  margin-bottom: calc(40px - var(--section-head-margin-bottom));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.task{
  position: relative;
  padding: var(--section-btn-padding);
  border: 1px solid var(--section-para-color);
  box-shadow: 1px 1px 5px 2px rgba(168, 168, 168, 0.616);
  list-style: none;
}

.removeBtn{
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  color: orange;
  font-weight: bolder;
  cursor:pointer;
}

